apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 600865094900.dkr.ecr.us-east-1.amazonaws.com/shopping-site-backend:b41846d8fa2e4120102cd6806362822ff80e80f8
          ports:
            - containerPort: 5000

